*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url("./img/fondo_madera.jpg");
    background-size: cover;
}

.title{
    text-align: center;
    font-size: xx-large;
}

#playersContaiter{
    display: flex;
    justify-content: center;

}

.subtitle{
    margin-top: 28px;
    font-size: x-large;
}

.playerContainer{
    width: 40vw ;
    min-height: 70vh;
    background-color: rgb(165, 83, 35);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    min-width: 60px;
    font-size: xx-large;
    background-color: rgb(200, 197, 193);
    border-radius: 5px;
}

.buttonplayer{
    position: fixed;
    top: 64px;
}